@import "../../../styles/breakpoint";
@import "../../../styles/converter";
@import "../../../styles/variables";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage {
  width: 100vw;
  height: auto !important;
  &_container {
    &_text {
      width: 100vw;
      height: auto !important;
      font-size: to-rem(18.3287);
      line-height: 22px;
      font-weight: 600;
      @include flexCenter;
      flex-direction: column;

      p {
        margin-top: to-rem(30);
      }

      &_emailinput {
        margin-top: to-rem(60);
        margin-bottom: to-rem(30);
        padding: 1em 2.85em;
        border: 1px solid $biufood_black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      span {
        color: $biufood_orange;
      }

      &_btn {
        padding: 0.7em 5.6em;
        background-color: $biufood_orange;
        font-weight: 700;
        line-height: 22px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      } 
    }

    &_wrapper {
      @include flexCenter;
      background-image: url("../../../assets//images/food.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 50vh;
      background-color: grey;
    }
  }
  &_splashscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-50px);
      }
    }

    &_animate {
      animation: bounce 0.8s infinite alternate;
      -webkit-animation: bounce 0.8s infinite alternate;
    }
  }
}
